#drWalking   {position:absolute; left:0px; z-index:1; height:263px; }
#tie_inserter {position:absolute; left:3200px; top:30px; z-index:250;}
#brushFore {position:absolute; left:0px; top:215px; z-index:300; height:158px;}
#brushBack {position:absolute; left:-120px; top:185px; z-index:200; height:158px; }
#desertBack {position:absolute; left:500px; top:0px; z-index:100; height:158px; }
#dr   {position:absolute; left:10px; top:5px; z-index:800;}
#fpcontent {position:absolute; top:273px; width:95%; z-index:1000; padding:0%}
#site-title {z-index:100}